<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <h3>{{restaurant.name |titlecase}}</h3> 
    </div>
    <div class="col-md-2">
      <button [routerLink]="['']" class="btn btn-outline-primary hvr-sweep-to-left">Go Back</button>
    </div>
  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Review</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Update</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="delete-tab" data-toggle="tab" href="#delete" role="tab" aria-controls="delete" aria-selected="false">Delete</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <br>
      <div class="inner">
        <p>Located at {{restaurant.location|titlecase}} with offerings of {{restaurant.cuisine|titlecase}}.</p>
        
        <div class="row"> 
          <div class="col-md-8">
            <div *ngIf="display == 1">
              <table class="table table-hover table-striped">
                <tr>
                  <th>Customer Name</th>
                  <th>Stars</th>
                  <th>Feedback</th>
                </tr>
                <tr *ngFor="let r of restaurant.reviews">
                  <td>{{r.name|titlecase}}</td>
                  <td>{{r.stars}}</td>
                  <td>{{r.description|titlecase}}</td>
                </tr>
              </table>
            </div>
            <div *ngIf="display == 0">
              <h5 class="color">No Reviews Yet. Please add!!</h5>
            </div>
          </div>
            <div class="col-md-4">
              <img src="{{restaurant.image}}" class="img-thumbnail rounded width">
            </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="inner">
        <app-edit-review [id]="restaurant._id"></app-edit-review>
      </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <div class="inner">
        <app-edit-restaurant [id]="restaurant._id"></app-edit-restaurant>  
      </div>
    </div>
    <div class="tab-pane fade" id="delete" role="tabpanel" aria-labelledby="delete-tab">
      <br>
      <div class="inner">
        <div *ngIf="show==1">
          <span>Are you sure you want to delete this Restaurant from Let's Eat!</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn btn-outline-danger" (click)="onDelete(restaurant._id)">Delete</button> <br><br>
          <h6 class="color">If you change your mind, you can always come back and add it Again!!</h6>
        </div>
        <div *ngIf="show==0">
          <span>Sorry, You are late. You can only delete within 30 seconds of adding a new restaurant.</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn btn-outline-danger" disabled>Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>


